rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accesstokens/{document=**} {
      allow create: if request.auth != null
      allow read: if request.auth != null && resource.data.uid == request.auth.uid;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
