name: hashira-cui - CI

on:
  push:
    branches: [master]
    paths:
      - "**"
      - "!hashira-web/**"
      - "!.github/workflows/**"
      - ".github/workflows/hashira-cui--test.yml"
  pull_request:
    paths:
      - "**"
      - "!hashira-web/**"
      - "!.github/workflows/**"
      - ".github/workflows/hashira-cui--test.yml"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"
      - run: make
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"
      - run: make test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"
      - uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: v2.0.2
